.Total{
    background-color: lightgrey;
  width: 25%;
  border: 15px solid rgb(128, 0, 36);
  padding: 50px;
  font-size:40px ;
}
.flex-cont{
	background-color:antiquewhite;
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:space-around;
	position:sticky;
	top:0;
	border: 3.5px solid-color: darkred;
}
.sel{
	margin:10px 0px 10px 0px;
	padding:12px 24px 12px 24px;
	background-color:darkred;
	text-align:center;
	border-radius:20px;
	transition:1s;
}
.sel:hover{
	background-color:whitesmoke;
}
.btn{
	color:white;
	text-decoration:none;
	font-size:4vw;
}
.btn:hover{
	color:black;
}